<div [@cardAnimation]="animationState" class="bg-light rounded shadow-sm py-5 px-4 ">
    <div class="w-100 d-flex justify-content-center">
        <img src="{{image}}" alt="" width="100"
             class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
    </div>
    <div class="w-100 d-flex justify-content-center">
        <h5 class="mb-0">{{name}}</h5>
    </div>
    <div class="w-100 d-flex justify-content-center mt-2">
        <span class="small text-uppercase text-muted">{{title}}</span>
    </div>
    <div class="w-100 d-flex justify-content-center mt-2">
        <span class="small text-muted text-justify ">{{message}}</span>
    </div>
</div>
