<div  [@cardAnimation]="animationState">
    <div class="info-card">
        <div class="front p-4">
            <div class="w-100 h-100 d-flex">
                <div class="d-flex w-100 justify-content-center mt-auto mb-2">
                    <img class="card-image" src="{{icon}}">
                </div>
                <div class="d-flex w-100 justify-content-center mb-auto">
                    <h2>{{name}}</h2>
                </div>
            </div>

        </div>
        <div class="back p-4">
            <h2>{{name}}</h2>
            <p>
                {{description}}
            </p>
        </div>
    </div>
</div>

