<div class="w-100 h-100 d-flex  justify-content-center mb-4">
    <strong>{{entityName}}</strong>
</div>
<div *ngIf="members.length > 0" class="row">
    <div *ngFor="let item of members; let i = index" class="col-xl-4 col-sm-6 mb-5">
        <memeber-card
        [name]="item['name']"
        [title]="item['title']"
        [image]="item['photo']['link']['href']"
        [message]="item['message']"
        [index]="i"
        >
        </memeber-card>
    </div>
</div>
<div *ngIf="members.length <= 0 && EntityId != 'none'" >
    <app-empty></app-empty>
</div>
